<!--<!DOCTYPE html>-->
{% load static  %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

  <!-- title -->
  <title>FootCave</title>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'cart/assets/img/favicon.png' %}">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="{% static 'cart/assets/css/all.min.css' %}">
  <!-- bootstrap -->
  <link rel="stylesheet" href="{% static 'cart/assets/bootstrap/css/bootstrap.min.css' %}">
  <!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'cart/assets/css/owl.carousel.css' %}">
  <!-- magnific popup -->
  <link rel="stylesheet" href="{% static 'cart/assets/css/magnific-popup.css' %}">
  <!-- animate css -->
  <link rel="stylesheet" href="{% static 'cart/assets/css/animate.css' %}">
  <!-- mean menu css -->
  <link rel="stylesheet" href="{% static 'cart/assets/css/meanmenu.min.css' %}">
  <!-- main style -->
  <link rel="stylesheet" href="{% static 'cart/assets/css/main.css' %}">
  <!-- responsive -->
  <link rel="stylesheet" href="{% static 'cart/assets/css/responsive.css' %}">

</head>
<body>

  <!--PreLoader-->

    <!--PreLoader Ends-->

  <!-- header -->
  <div class="top-header-area" id="sticker">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
          <div class="main-menu-wrap">
            <!-- logo -->
            <div class="site-logo">
              <a href="">
                <img src="{% static 'cart/assets/img/adminlogo.png' %}" alt="">
              </a>
            </div>
            <!-- logo -->

            <!-- menu start -->
            <nav class="main-menu">
              <ul>
                <li ><a href="{% url 'homepage' %}">HOME</a>
                </li>

                <li><a href="{% url 'categorypage' %}">CATEGORY</a></li>

                <li><a href="{% url 'contactpage' %}">CONTACT</a></li>
            <i class="fa fa-user"></i>{% if request.session.username %}
<li><a href=""><B>{{ request.session.username }}</B></a>   {% endif %}
   <ul class="sub-menu">      <li><a href="{% url 'webloginpage' %}">SIGN IN/SIGN UP</a></li>
      <li><a href="{% url 'logout' %}">LOGOUT</a></li>   </ul>
</li>


                  <div class="header-icons">

                  </div>

                </li>


              </ul>
            </nav>
            <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
            <div class="mobile-menu"></div>
            <!-- menu end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header -->
<!-- search area -->
  <div class="search-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="close-btn"><i class="fas fa-window-close"></i></span>
          <div class="search-bar">
            <div class="search-bar-tablecell">
              <h3>Search For:</h3>
              <input type="text" placeholder="Keywords">
              <button type="submit">Search <i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end search arewa -->

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Grab Your Oder Now!</p>
            <h1>CART</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- cart -->
  <div class="cart-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="cart-table-wrap">
            <table class="cart-table">
              <thead class="cart-table-head">
                <tr class="table-head-row">
                  <th class="product-name">Name</th>
                  <th class="product-price">Quantity</th>
                  <th class="product-quantity">Total</th>
                  <th class="product-remove"></th>
                </tr>
              </thead>
              <tbody>
              {% for d in data %}
                <tr class="table-body-row cart-item" >
                  <td class="product-name">{{ d.Name }}</td>
                  <td class="product-price">{{ d.Quantity }}</td>
                  <td class="item-price">{{ d.Total }}</td>

                  <td class="product-remove"><a href="{% url 'deletecart' dataid=d.id %}"><i class="fa fa-trash"></i></a></td>
                  {% endfor %}
                </tr>
            </table>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="total-section">
            <table class="total-table">
              <thead class="total-table-head">
                <tr class="table-total-row">
                  <th> Total Price</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="total-data">
                  <td><strong>GST : </strong></td>
                  <td id="gst-price">40₹</td>
                </tr>
                <tr class="total-data">
                  <td><strong>Total Amount : </strong></td>
                  <td id="total-price"></td>
                </tr>
              <tr class="total-data">
                  <td><strong>Net Amount : </strong></td>
                  <td id="total-price-gst"></td>
                </tr>
              </tbody>
            </table>
            <div class="cart-buttons">
              <a href="{% url 'checkoutt' %}" class="boxed-btn black">PLACE ORDER</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end cart -->



  <!-- footer -->
  <div class="footer-area">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-box pages">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> www.footcave.com <i class="fa fa-heart-o" aria-hidden="true"></i></a>

          </div>
        </div>

        <div class="col-lg-3 col-md-6">
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->
<!-- jquery -->
  <script src="{% static 'cart/assets/js/jquery-1.11.3.min.js' %}"></script>
  <!-- bootstrap -->
  <script src="{% static 'cart/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- count down -->
  <script src="{% static 'cart/assets/js/jquery.countdown.js' %}"></script>
  <!-- isotope -->
  <script src="{% static 'cart/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
  <!-- waypoints -->
  <script src="{% static 'cart/assets/js/waypoints.js' %}"></script>
  <!-- owl carousel -->
  <script src="{% static 'cart/assets/js/owl.carousel.min.js' %}"></script>
  <!-- magnific popup -->
  <script src="{% static 'cart/assets/js/jquery.magnific-popup.min.js' %}"></script>
  <!-- mean menu -->
  <script src="{% static 'cart/assets/js/jquery.meanmenu.min.js' %}"></script>
  <!-- sticker js -->
  <script src="{% static 'cart/assets/js/sticker.js' %}"></script>
  <!-- main js -->
  <script src="{% static 'cart/assets/js/main.js' %}"></script>

<script>
const cartItems = document.querySelectorAll(".cart-item");
let totalPrice = 0;

cartItems.forEach(item => {
  const itemPrice = parseFloat(item.querySelector(".item-price").textContent);
  totalPrice += itemPrice;
});

const gstPrice = parseFloat(document.getElementById("gst-price").textContent);
const totalPriceWithGst = totalPrice + gstPrice;

document.getElementById("total-price").textContent = " " + totalPrice.toFixed(2);
document.getElementById("total-price-gst").textContent = " " + totalPriceWithGst.toFixed(2);




</script>


    <!--   alert-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   {% if messages %}
  {% for message in messages %}

   {% if message.tags == 'warning' %}
   <script>
     swal('{{message}}','','warning');
   </script>

   {% elif message.tags == 'error' %}
   <script>
     swal('{{message}}','','error');
   </script>

   {% else%}
   <script>
     swal('{{message}}','','success');
   </script>

   {% endif %}

   {% endfor %} {% endif %}
</body>
</html>