<!--<!DOCTYPE html>-->
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Striped Table</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table-striped</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                          Email
                          </th>

                          <th>
                            Image
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                        <tr>

                          <td>
                            {{d.Name}}
                          </td>
                          <td>
                            {{d.Discription}}
                          </td>
                             <td class="py-1">
                           <img src="{{d.Image.url}}" alt="image">
                          </td>




                          <td>
                            <form action="{% url 'editcategory' dataid=d.id %}">
                            <button type="submit"  class="btn btn-success">Edit</button>
                              </form>
                          </td>
                          <td>
                            <form action="{% url 'deletecategory' dataid=d.id %}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                          </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

</body>
</html>
{% endblock %}